# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin
ui-server

.vscode/*.log

# Output of code generation tools
third_party/OpenAPI/temporal

# Dependency directories (remove the comment below to include it)
# vendor/
